<div class="form-group">
  <div class="row">
    <div class="col-lg-2">
      <%= f.collection_select(:account_id, Account.order(:name), :id, :name, { prompt: true }, { class: 'form-control' }) %>
    </div>
    <div class="col-lg-8">
      <%= f.text_field :amount, :placeholder => "0.00", :class => 'form-control' %>
    </div>
    <div class="col-lg-1">
      <%= link_to_remove_fields "Remove", f %>
    </div>
  </div>
</div>
