<% title @transaction.date %>

<p>
  <%= link_to 'Back', transactions_path, class: 'btn btn-default' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @transaction.memo %>
</p>
